body {
    text-align: center;
}
a {
    text-decoration: none;
}

.grade {
    display: flex;
    width: 1300px;
    height: 1000px;
    margin: 0% auto;
}
.left-part {
    flex: 2; /* 占据 2/3 的宽度 */
    padding: 20px;
    border-right: 3px solid purple;
}
.new {
    text-align: left;
    font-size: 25px;
    border-bottom: 1px solid grey;
    color: purple;
}

.new-exam {
    text-align: left;    
}

.exam-name {
    display: inline-block;
    width: 370px;
    margin-top: 20px;
}
.exam-name a {
    color: #000;
}
.exam-name a:hover{
    color: #FF8000;
}
    

.choose-title {
    padding-top: 50px;
    text-align: left;
    font-size: 25px;
    border-bottom: 1px solid grey;
    color: purple;
}

.solid {
    padding-top: 20px;
    border-bottom: 1px solid;
}

.warning {
    padding-top: 10px;
    text-align: left;
    font-size: 15px;
    color: #FF8000;
}






.right-part {
    flex: 1; /* 占据 1/3 的宽度 */
    padding: 20px;
}

.grade .right-part div {
    text-align: left;
    margin: 20px;
    padding-left: 20px;
}
.grade .right-part div span {
    color: black;
    border-bottom: 1px dashed;
}

.announcement {
    color: purple;
}

.pagination {
    
}
.pagination a {
    text-decoration: none;
    color: #000; 
}
    
.pagination a:hover {
    color: #FF8000;
}
    
.current-page {
    font-weight: bold;
}